.products-container {
    

.product {
    cursor:pointer;
    display:block;
    text-align: center;
    border-radius:4px;
    border:1px solid #bbb;
    transition: all 0.1s linear;
    background-color: lightgrey;
    
}
    
}